system/system/priv-app/Velvet/Velvet.apk
system/system/priv-app/GmsCore/GmsCore.apk
system/system/app/Chrome/Chrome.apk
system/system/app/app-scan3d-release/app-scan3d-release.apk
system_other/deletable_media/Movies/Spider-Man_Into_the_Spider-Verse_Trailer.mp4
