# set up symbolic links to proper configuration file
service config-linker /system/bin/multi-cdf-symlinker.sh
    class main
    user system
    group system
    disabled
    oneshot

# Note! that there is a dependency towards taimport property
# the property is set immediatly after execution of taimport.
on property:init.taimport.ready=true
    mkdir /data/customization 0755 system system
    restorecon /data/customization
    start config-linker
