on post-fs-data
    # Allow javadumper to access dropbox!
    mkdir /data/system/dropbox 0750 system system
    chmod 0750 /data/system/dropbox
    # create jd_dropboxfiles from rc file
    mkdir /data/system/log/jd_dropboxfiles 0770 system root
    chown system root /data/system/log/jd_dropboxfiles
    chmod 770 /data/system/log/jd_dropboxfiles

# Javadumper
service javadumper /system/bin/javadumper
    class main
    user system
    group root system radio media_rw
    seclabel u:r:javadumper:s0
